{% extends 'basic.html' %} {% block title %} About {% endblock title %} {% block body %}
<h1>Short Introduction </h1>
<h2>Hello, I am Harsh Kumar. Currently a Sophomore year student pursuing Computer Science Engineering from IIT Jodhpur. My friends call me Dassa as I outperformed almost every one in first year. Now in second year I am focussing on other things. I am passionate about Cricket. Talking about this project this is just an implemation of basics concepts while learning Web Development. Your suggestions are welcome.</h2>
{% endblock body %}
